extends layouts/main-layout.pug

block styles
    link(rel="stylesheet", href="/css/product.css")

block content
    main.container.p-5
        form
            div.mb-3
                label(for="title") 產品標題
                input#title.form-control(type="text",name="title",
                aria-describedby="titleHelp")
                div#titleHelp.form-text.text-muted 請輸入標題內容
                button.btn.btn-primary(type="submit",formaction="/admin/add-product" 
                ,formmethod="post") 增加產品