<form>
    <div class="mb-3">
        <label for="title">產品標題</label>
        <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelp">
        <div id="titleHelp" class="form-text text-muted">請輸入標題內容</div>
    </div>
    <button type="submit" class="btn btn-primary" formaction="/admin/add-product" formmethod="post">增加產品</button>
</form>