<h1>我的產品</h1>>
{{#if hasProducts}}
<div class="row"> 
    {{#each prods}}
    <div class="col-md-4 p-2">
        <div class="card" style="width: 18rem;">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1920px-Node.js_logo.svg.png" class="card-img-top" alt="產品圖片">
            <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <p class="card-text">產品簡介產品簡介產品簡介產品簡介產品簡介產品簡介</p>
            <p>$99,999</p>>
            <a href="/" class="btn btn-primary">購買</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<div class="alert alert-danger" role="alert">暫無產品</div>
{{/if}}
